parameters:
    level: 5
    paths:
        - app
    excludePaths:
        - vendor
        - tests
    bootstrapFiles:
        - vendor/autoload.php
    ignoreErrors:
        - '#missingType\.iterableValue#'
        - '#missingType\.generics#'
        - '#Static property App\\Logger::\$levels is never read#'

