parameters:
    level: 5
    paths:
        - app
    excludePaths:
        - vendor
        - tests
        - app/Views/auth/**
        - app/Views/Categorias/**
        - app/Views/Produtos/**
        - app/Views/usuarios/**
        - app/Views/header.php
        - app/Views/layout.php
    bootstrapFiles:
        - vendor/autoload.php
    ignoreErrors:
        - '#Static property App\\Logger::\$levels is never read#'

